.profile-section{
    display: flex;
    max-width: 1024px;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin:auto;
}
.profile-content{
    gap: 4rem;
    display: grid;
    grid-template-columns:repeat(2, minmax(0,1fr))
}
.profile-content_img{

    margin: auto;

    display: flex;
    justify-content: center;
}
.profile-content_img img{
    border-radius:50%;

    width: 300px;
    height: 300px;

    object-fit:cover;
}
.profile-content_text {

    padding: 1rem;
}
.profile-content_contain{
    display: flex;
    align-items: center;
}
.profile-content_text h2{
    margin: 0;
    line-height: 2rem;
}
.profile-content_text p{
    color: var(--color-text);
    margin-top: 1rem;
    margin-bottom: 0;
    line-height: 1.5;
}
.content_btn{
    margin-top: 1rem;
    display: flex;
}
.download{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    background-color: black;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 20px;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.download:hover{
    background-color: rgb(32, 31, 31);
}
.contact{
    text-align: center;
    padding: 5px;
    color: black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    text-decoration: none;
    font-weight: 500;
    border-radius: 7px;
    border: 2px solid black;
    border-color: rgba(228, 228, 231, 1);
    font-size: 0.875rem;
    line-height: 1.25rem;

}
.contact:hover{
    background-color: rgb(230, 216, 216);
}
@media screen and (max-width:760px) {
    .profile-content{
        display: flex;
        flex-direction: column;
    }
    
}