
.blog{
    max-width: 1024px;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin: auto;


}
.blog h2{
    font-size: 1.875rem;
    font-weight: 700;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
.blog_p{
    margin-top: 1rem;
    color: hsla(240, 4%, 45%,1);
    padding-right: 1rem;
    padding-left: 1rem;
}
.blog_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media  screen and (max-width:850px) {
    .blog_main{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .blog h2{

        padding-left: 2rem;
        padding-right: 2rem;
    }
    .blog_p{

        padding-right: 2rem;
        padding-left:2rem;
    }
}
a{
    cursor: pointer;
}